.home-container {
  padding: 20px;
}

.intro-text {
  margin-bottom: 30px;
  text-align: center;
}

.main-content {
  display: flex;
  justify-content: space-between;
}

.left-container,
.right-container {
  width: 45%;
}

.left-container {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
}

.right-container {
  background-color: #f1f1f1;
  padding: 20px;
  border-radius: 8px;
}

.right-container h2 {
  text-align: center;
}

.links-list {
  list-style-type: none;
  padding: 0;
}

.links-list li {
  margin-bottom: 10px;
}

.links-list li a {
  text-decoration: none;
  color: #5FA9E6;
  font-size: 18px;
}

.links-list li a:hover {
  text-decoration: underline;
}