.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url('../../background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.intro-text {
  color: black;
  font-size: 48px;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: row;
  width: 80%;
  color: black;
  background: rgba(255, 255, 255, 0.7);
  padding: 20px;
  border-radius: 10px;
  justify-content: space-between;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.left-container,
.right-container {
  flex: 1;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.links-list {
  list-style: none;
  padding: 0;
}

.lesson-item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  font-size: 24px;
}

.lesson-item .check {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.lesson-item.completed .check {
  color: green;
}

.lesson-item.notCompleted .check {
  color: gray;
}

.lesson-item a {
  text-decoration: none;
  color: #007BFF;
  font-size: 24px;
}

.lesson-item a:hover {
  color: #0056b3;
}

.links-list li {
  margin-bottom: 10px;
}

.links-list li a {
  text-decoration: none;
  color: #007bff;
  font-size: 18px;
}

.links-list li a:hover {
  text-decoration: underline;
}